/* Định dạng các thẻ chung cho cả giao diện */
:root {
  font-family: "Be Vietnam Pro";
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a:link,
a:visited,
a:focus {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

p {
  margin: 0px;
}

/* Định dạng cho thanh cuộn ngang và dọc */
/* width */
.event-data-table::-webkit-scrollbar,
.form-body::-webkit-scrollbar {
  width: 5px;
}

/* height */
#event-body-menu ul::-webkit-scrollbar,
.event-data-table::-webkit-scrollbar {
  height: 5px;
}

/* Track */
#event-body-menu ul::-webkit-scrollbar-track,
.event-data-table::-webkit-scrollbar-track,
.form-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
#event-body-menu ul::-webkit-scrollbar-thumb,
.event-data-table::-webkit-scrollbar-thumb,
.form-body::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 4px;
}

/* Handle on hover */
#event-body-menu ul::-webkit-scrollbar-thumb:hover,
.event-data-table::-webkit-scrollbar-thumb:hover,
.form-body::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
  border-radius: 4px;
}

/*----------------------------------- BODY -----------------------------------*/
/* Định dạng tiêu đề */
.event-body {
  display: flex;
  padding: 30px 70px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2px;
  background: #f1f1f1;
}

.event-body-content {
  display: flex;
  max-width: 1300px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.event-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.event-top p {
  color: #000;
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.event-top a {
  height: 28px;
}

/* ----------------------------------- Định dạng chức năng lọc ---------------------------------- */
.filter {
  position: relative;
}

.filter .filter-btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #fff6 url(../image/event-management-img/filter.svg) center / 80%
    no-repeat;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.filter .filter-btn:hover {
  cursor: pointer;
  background-color: #dee4e2;
  transform: scale(1.15);
}

.filter #filter {
  display: none;
}

.filter-form {
  display: flex;
  width: 680px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 0.5px solid #5683c6;
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 0, 101, 0.16);
  position: absolute;
  right: 0px;
  top: 35px;

  opacity: 0;
  transform: scale(0.8);
  transition: 0.2s ease-in-out;
  z-index: -5;
}

.filter #filter:checked + .filter-form {
  opacity: 1;
  transform: scale(1);
  z-index: 5;
}

.filter-form hr {
  border: none;
  width: 100%;
  height: 0.5px;
  background-color: #a7a5a6;
}

.filter-event-state {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.filter-event-state p,
.filter-event-date p {
  color: #4f4c4d;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#filter-event-state-options {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px 56px;
  align-self: stretch;
  flex-wrap: wrap;
}

#filter-event-state-options p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#filter-event-state-options div {
  display: flex;
  width: 168px;
  align-items: center;
  gap: 8px;
}

.filter-event-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

#filter-event-date-options {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px 70px;
  align-self: stretch;
  flex-wrap: wrap;
  position: relative;
}

#filter-event-date-options #to {
  color: #151313;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  position: absolute;
  left: 185px;
  bottom: 15px;
}

.filter-event-date input[type="date"] {
  font-family: "Be Vietnam Pro";
  border: none;
  outline: none;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 28px;
  border-radius: 4px;
  border: 0.5px solid #f0f0f0;
  background: #fafafa;
}

#filter-event-date-options .date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

#filter-event-date-options .date p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#start-date,
#end-date {
  cursor: pointer;
}

.filter-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
}

#btn-filter-reset {
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #eef9ff;
  box-shadow: 0px 2px 4px 0px rgba(226, 226, 226, 0.24);
  color: #5683c6;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}

#btn-filter-reset:hover {
  background: #d0e8f6;
}

.filter-action .right-part {
  display: flex;
  min-width: 164px;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 12px;
  flex: 1 0 0;
  flex-wrap: wrap;
}

#btn-filter-cancel {
  display: flex;
  height: 32px;
  padding: 2px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  color: #5683c6;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}

#btn-filter-cancel:hover {
  background: #d0e8f6;
}

#btn-filter-confirm {
  display: flex;
  height: 32px;
  padding: 2px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #73a1e6;
  background: linear-gradient(180deg, #73a1e6 0%, #5683c6 100%);
  box-shadow: 0px 2px 4px 0px rgba(196, 168, 255, 0.24);
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}

#btn-filter-confirm:hover {
  background: linear-gradient(180deg, #4776bc 0%, #3a67ab 100%);
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 1000px */
@media screen and (max-width: 1000px) {
  .filter-form {
    width: 468px;
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 750px */
@media screen and (max-width: 750px) {
  .filter-form {
    width: 350px;
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 650px */
@media screen and (max-width: 650px) {
  .filter-form {
    width: 300px;
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 585px */
@media screen and (max-width: 585px) {
  .filter-form {
    width: 250px;
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 535px */
@media screen and (max-width: 535px) {
  .filter-form {
    width: 220px;
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 390px */
@media screen and (max-width: 390px) {
  .filter-form {
    width: 180px;
  }
}
/* --------------------------------------------------------------------- */

/* Định dạng ô nhập liệu tìm kiếm */
.search {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  background-color: #fafbfc;
}

.search img:hover {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.search:hover,
.search:focus,
.search:focus-within {
  outline: 1px solid #97a09d;
}

#search-input {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  gap: 12px;
  flex: 1 0 0;
  color: #97a09d;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  outline: none;
  background-color: #fafbfc;
}

#search-input::placeholder,
#search-input::placeholder {
  color: #97a09d;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#search-input:not(:placeholder-shown),
#search-input:not(:placeholder-shown) {
  color: #000000;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Định dạng thanh điều hướng */
#event-body-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 15px;
  align-self: stretch;
  flex-wrap: wrap;
}

.all {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
}

.all a {
  color: #093a68;
}

#a-all-0 {
  color: #285d8f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 5px;
  border-bottom: 2px solid #285d8f;
}

.all:hover {
  color: rgb(194, 194, 194);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* Định dạng 3 nút thao tác */
#action {
  display: flex;
  width: 275px;
  height: 39px;
  align-items: flex-start;
  gap: 10px;
}

#action p {
  color: #fafbfc;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

#insert {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #f0bd0a;
}

#insert:hover {
  background-color: #bc960c;
}

#update {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #27ae60;
}

#update:hover {
  background-color: #1d7b44;
}

#delete {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #d00000;
}

#delete:hover {
  background-color: #a10404;
}

/* -----------------------------Định dạng bảng dữ liệu---------------------------------- */
.event-data-table {
  position: relative;
  width: 100%;
  height: 450px;
  margin: 0px;
  padding: 0px;
  padding-right: 8px;
  padding-bottom: 8px;
  overflow: scroll;
  min-height: 450px;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.9rem;
  text-align: left;
}

thead tr {
  border-radius: 4px 4px 0px 0px;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  cursor: pointer;
  text-transform: capitalize;
  background: #d1d1d1;
  white-space: nowrap;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: rgba(199, 194, 194, 0.4) !important;
}

tbody td {
  max-width: 200px;
  overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt quá kích thước của ô */
  text-overflow: ellipsis; /* Hiển thị dấu ... cho nội dung bị ẩn */
  white-space: nowrap; /* Ngăn chặn việc xuống hàng khi văn bản dài */
}

.btn-view a {
  max-width: 70px;
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 2px solid #4eacdf;
  background: #fafbfc;
}

.btn-view p {
  color: #4eacdf;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.status {
  padding: 0.6rem 0;
  border-radius: 6px;
  background: #dee4e2;
  text-align: center;
  vertical-align: middle;
  color: #7f8283;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.valid {
  background: #d3fff2;
  color: #339db5;
}

.expired {
  background: #fcd7e2;
  color: #e7527e;
}

/* Định dạng search data */
tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr td,
tbody tr td input[type="checkbox"],
tbody tr td p,
tbody tr td a {
  transition: 0.2s ease-in-out;
}

@keyframes slideOutRight {
  0% {
  }
  100% {
    transition: 0.2s ease-in-out 0.5s;
    display: none;
  }
}

tbody tr.hide td {
  animation: slideOutRight 1s forwards;
}

/* *********************** */

/* Định dạng cho trạng thái của lịch sân
 .status {
  padding: 0.6rem 0;
  border-radius: 6px;
  background: #dee4e2;
  text-align: center;
  vertical-align: middle;
 
 
  color: #7f8283;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
 }
 
 
 .haveNotBooked {
  background: #dee4e2;
  color: #7f8283;
 }
 
 
 .haveBooked {
  background: #d3fff2;
  color: #339db5;
 }
 
 
 .expired {
  background: #fcd7e2;
  color: #e7527e;
 }
 
 
 .deleted {
  background: #f0efc6;
  color: #acaa3d;
 } */

/* Định dạng sorting */

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid #007ebd;
}

thead th:hover {
  color: #007ebd;
}

thead th.active span.icon-arrow {
  background-color: #007ebd;
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #007ebd;
}

/* Định dạng checkbox */
input[type="checkbox"]:hover {
  cursor: pointer;
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 500px */
@media screen and (max-width: 500px) {
  .event-body {
    padding: 30px 20px;
  }

  .event-body-content {
    padding: 24px 14px;
  }
}

/*----------------------------------- ĐỊNH DANG FORM -----------------------------------*/
body {
  position: relative;
}

#overlay-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #868686;
  opacity: 0.55;
  z-index: 10;
  display: none;
}

#form-view,
#form-edit,
#form-insert {
  display: flex;
  width: 597px;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  position: absolute;
  top: 50px;
  right: calc(100% / 2 - 300px);
  z-index: 10;
}

#form-view,
#form-edit,
#form-insert {
  display: none;
}

/* FORM HEADER */
.form-header {
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 6px 6px 0px 0px;
  background: #cfeaf6;
  box-shadow: 0px -1px 0px 0px #f0f0f0 inset;
}

.form-header p {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.form-header img:hover {
  cursor: pointer;
}
/* FORM BODY */
.form-body {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 450px;
  margin: 12px;
  margin-right: 20px;
  overflow-y: scroll;
  gap: 5px;
}

.form-body-content {
  display: flex;
  padding: 12px;
  padding: 12px 12px 24px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.form-body .form-body-title {
  color: rgba(0, 0, 0, 0.85);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.form-row textarea {
  width: 100%;
  border: 0;
  overflow: hidden;
}

.form-row p {
  display: flex;
  max-width: 130px;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}

.form-row .input {
  display: flex;
  color: #c0c0c0;
  min-width: 150px;
  padding: 5px 12px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  align-self: stretch;
  justify-content: space-between;
  border-radius: 4px;
  border: 0.75px solid #c0c0c0;
  outline: auto;
  background: #fff;
  padding-right: 16px;
  flex-wrap: wrap;
}

.form-row .input:hover,
.form-row .input:focus,
.form-row .input:focus-within {
  outline: 1px solid #285d8f;
}

.form-row .input input[type="text"] {
  flex: 1 0 0;
  font-size: 14px;
  font-style: normal;
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  line-height: 22px;
  align-self: stretch;
  border-radius: 4px;
  background: #fff;
  border: none;
  outline: none;
}

.form-row .input input[type="text"]::placeholder {
  color: #c0c0c0;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

#form-view .form-row .input {
  pointer-events: none;
}

.form-row select {
  display: flex;
  flex: 1 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  outline: none;
  overflow-y: scroll;
  max-height: 30px;
  font-family: "Be Vietnam Pro";
}

.form-row select option {
  background-color: #edf5fc;
}

.form-row input[type="date"] {
  width: 100%;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border: none;
  outline: none;
}

/* FORM FOOTER */
.form-footer {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 0px 0px 6px 6px;
  background: #cfeaf6;
  box-shadow: 0px 1px 0px 0px #f0f0f0 inset;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-group .form-button {
  display: flex;
  padding: 4px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}

.button-group p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.button-group #form-update {
  border: 1px solid #026d4d;
  background: #026d4d;
}

.button-group #form-update:hover {
  border: 1px solid #0f976e;
  background: #0f976e;
}

.button-group #form-delete,
.button-group #form-exit {
  border: 1px solid #d00000;
  background: #d00000;
}

.button-group #form-delete:hover,
.button-group #form-exit:hover {
  border: 1px solid #ef1f1f;
  background: #ef1f1f;
}

.button-group input[type="submit"] {
  position: relative;
  width: 82px;
  height: 32px;
  background-color: #1890ff;
  color: #fff;
  border: none;
  border-radius: 2px;

  color: #fff;
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.button-group input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(67, 162, 251);
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 700px */
@media screen and (max-width: 900px) {
  #form-view,
  #form-edit,
  #form-insert {
    width: 597px;
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 650px */
@media screen and (max-width: 650px) {
  #form-view,
  #form-edit,
  #form-insert {
    width: 450px;
    top: 30px;
    right: calc(100% / 2 - 225px);
  }
}
/* Định dạng dòng thông báo lỗi khi nhập liệu sai định dạng*/
.warning {
  display: flex;
  height: 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  visibility: hidden;
}

.warning p {
  /* display: flex; */
  height: 16px;
  color: #ff4141;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0px;
  /* align-items: center; */
  max-width: unset;
  justify-content: unset;
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 500px */
@media screen and (max-width: 500px) {
  #form-view,
  #form-edit,
  #form-insert {
    width: 380px;
    top: 30px;
    right: calc(100% / 2 - 190px);
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 400px */
@media screen and (max-width: 400px) {
  #form-view,
  #form-edit,
  #form-insert {
    width: 320px;
    top: 30px;
    right: calc(100% / 2 - 160px);
  }

  .form-header p {
    font-size: 16px;
  }

  .form-body .form-body-title {
    font-size: 14px;
  }

  .form-row p {
    font-size: 12px;
  }

  .form-row .input input[type="text"] {
    font-size: 12px;
  }

  .form-row .input input[type="text"]::placeholder {
    font-size: 12px;
  }

  .form-row select {
    font-size: 12px;
  }

  .form-row input[type="date"] {
    font-size: 12px;
  }
}
