/* Định dạng các thẻ chung cho cả giao diện */
:root {
  font-family: "Be Vietnam Pro";
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a:link,
a:visited,
a:focus {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

p {
  margin: 0px;
}

/*----------------------------------- BODY -----------------------------------*/
body {
  position: relative;
}

#overlay-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #868686;
  opacity: 0.55;
  z-index: 10;
  display: none;
}

.sign-up-body {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  z-index: 0;
}

.sign-up-sub-body {
  display: flex;
  width: 100%;
  max-width: 1512px;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1 0 0;
  background: url(../image/sign-up-img/sign-up-body.svg);
  background-color: light 50%;
  background-size: cover;
  z-index: 1;
}

.sign-up-body-content {
  display: flex;
  width: 100%;
  max-width: 720px;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 0.2) 0%,
      rgba(245, 245, 245, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    linear-gradient(
      180deg,
      rgba(44, 104, 154, 0.6) 0%,
      rgba(95, 200, 222, 0.52) 100%
    );
}

/* Định dạng form đăng ký */
.sign-up-form {
  width: 100%;
  display: flex;
  max-width: 550px;
  padding: 30px 30px 20px 30px;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 10px;
  background: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 0 0;
}

.sign-up-body-title {
  display: flex;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#back-arrow:hover {
  cursor: pointer;
  background-color: #b8d8e1;
  border-radius: 4px;
}

.sign-up-body-title p {
  display: flex;
  color: #2c689a;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin: 0px;
  height: 35px;
  align-items: center;
}

.sign-up-body-title img:hover {
  cursor: pointer;
}

/* Định dạng vùng thông báo khi đăng ký không thành công */
#announcement {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #ff4141;
  background: #fff9f9;
  flex: 1 0 0;
  display: none;
}

#announcement p {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* ************************ */

.sign-up-body-main-content {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}

#sign-up-name,
#sign-up-phone,
#sign-up-email,
#sign-up-acc-name,
#sign-up-pass {
  color: #285d8f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0px;
}

/* Định dạng ô nhập liệu */
.sign-up-name-input,
.sign-up-phone-input,
.sign-up-email-input,
.sign-up-acc-name-input,
.sign-up-pass-input {
  display: flex;
  align-items: center;
  color: #c0c0c0;
  align-self: stretch;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #c0c0c0;
  outline: auto;
  background: #fff;
  padding-right: 16px;
}

.sign-up-name-input:hover,
.sign-up-name-input:focus,
.sign-up-name-input:focus-within,
.sign-up-phone-input:hover,
.sign-up-phone-input:focus,
.sign-up-phone-input:focus-within,
.sign-up-email-input:hover,
.sign-up-email-input:focus,
.sign-up-email-input:focus-within,
.sign-up-acc-name-input:hover,
.sign-up-acc-name-input:focus,
.sign-up-acc-name-input:focus-within,
.sign-up-pass-input:hover,
.sign-up-pass-input:focus,
.sign-up-pass-input:focus-within {
  outline: 1px solid #285d8f;
}

#sign-up-name-input-text,
#sign-up-phone-input-text,
#sign-up-email-input-text,
#sign-up-acc-name-input-text,
#sign-up-pass-input-text {
  display: flex;
  flex: 1 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 10px 15px 15px;
  align-self: stretch;
  border-radius: 6px;
  background: #fff;
  border: none;
  outline: none;
}

#sign-up-name-input-text::placeholder,
#sign-up-phone-input-text::placeholder,
#sign-up-email-input-text::placeholder,
#sign-up-acc-name-input-text::placeholder,
#sign-up-pass-input-text::placeholder {
  color: #c0c0c0;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#sign-up-name-input-text:not(:placeholder-shown),
#sign-up-phone-input-text:not(:placeholder-shown),
#sign-up-email-input-text:not(:placeholder-shown),
#sign-up-acc-name-input-text:not(:placeholder-shown),
#sign-up-pass-input-text:not(:placeholder-shown) {
  color: #000000;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#eye {
  cursor: pointer;
}

/* Định dạng icon tick xanh khi nhập liệu đúng định dạng*/
#check,
#check-acc,
#check-pass,
#check-phone,
#check-email {
  width: 20px;
  height: 20px;
  display: none;
}

/* Định dạng dòng thông báo lỗi khi nhập liệu sai định dạng*/
.warning,
.warning-acc,
.warning-pass,
.warning-phone,
.warning-email {
  display: flex;
  height: 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  visibility: hidden;
}

.warning p,
.warning-acc p,
.warning-pass p,
.warning-phone p,
.warning-email p {
  display: flex;
  height: 16px;
  color: #ff4141;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0px;
  align-items: center;
}

/* Định dạng vùng lưu ý nhập liệu */
#notice {
  display: flex;
  padding: 0px 10px 10px 10px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

#notice p {
  color: #c0c0c0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#notice ul {
  color: #285d8f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-right: 10px;
  margin: 0px;
}

/* Định dạng nút TIẾP THEO hoặc nút ĐĂNG KÝ*/
input[type="submit"] {
  height: 50px;
  padding: 10px;
  border-radius: 6px;
  background-color: #285d8f;
  border: none;

  color: #fff;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #5680a7;
}

/* Định dạng cho vùng HOẶC */
.or {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.or hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: #d3cece;
}

.or p {
  color: #c0c0c0;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

/* Định dạng 2 phương thức đăng ký còn lại */
.sign-up-body-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.sign-up-method {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 18px;
  align-self: stretch;
  flex-wrap: wrap;
}

#button-phone {
  display: flex;
  min-width: 145px;
  padding: 13.5px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 6px;
  border: 1px solid #c0c0c0;
  background: #fafbfc;
}

#button-email {
  display: flex;
  min-width: 145px;
  padding: 6px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 6px;
  border: 1px solid #c0c0c0;
  background: #fafbfc;
}

#button-phone:hover,
#button-email:hover {
  background-color: #eaeeef;
  cursor: pointer;
}

#button-phone a,
#button-email a {
  color: #1a1f23;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Định dạng cho vùng chính sách đăng ký */
.sign-up-policy {
  display: flex;
  padding: 20px 10px 10px 10px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.sign-up-policy p,
.sign-up-policy-content p {
  align-self: stretch;
  color: #c0c0c0;
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.sign-up-policy-content {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.sign-up-policy-content a {
  color: #285d8f;
  font-family: "Be Vietnam Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.sign-up-policy-content a:hover {
  color: #82a8cc;
}

/* Định dạng vùng chuyển trang đến đăng nhập */
.have-account {
  display: flex;
  padding: 10px 68px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.have-account p {
  color: #c0c0c0;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.have-account a {
  color: #285d8f;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.have-account a:hover {
  color: #82a8cc;
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 1200px */
@media screen and (max-width: 1200px) {
  .sign-up-body-content {
    display: flex;
    width: 100%;
    max-width: 1512px;
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    background: linear-gradient(
        0deg,
        rgba(245, 245, 245, 0.2) 0%,
        rgba(245, 245, 245, 0.2) 100%
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      linear-gradient(
        180deg,
        rgba(44, 104, 154, 0.6) 0%,
        rgba(95, 200, 222, 0.52) 100%
      );
  }
}
