/* Định dạng các thẻ chung cho cả giao diện */
:root {
  font-family: "Be Vietnam Pro";
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a:link,
a:visited,
a:focus {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

p {
  margin: 0px;
}

/*----------------------------------- BODY -----------------------------------*/
.sign-in-body {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  z-index: 0;
}

.sign-in-sub-body {
  display: flex;
  width: 100%;
  max-width: 1512px;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1 0 0;
  background: url(../image/sign-up-img/sign-up-body.svg);
  background-color: light 50%;
  background-size: cover;
  z-index: 1;
}

.sign-in-body-content {
  display: flex;
  width: 100%;
  max-width: 720px;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 0.2) 0%,
      rgba(245, 245, 245, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    linear-gradient(
      180deg,
      rgba(44, 104, 154, 0.6) 0%,
      rgba(95, 200, 222, 0.52) 100%
    );
}

/* Định dạng form đăng nhập */
.sign-in-form {
  width: 100%;
  display: flex;
  max-width: 550px;
  padding: 30px 30px 20px 30px;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 10px;
  background: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 0 0;
}

.sign-in-body-title {
  display: flex;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#back-arrow:hover {
  cursor: pointer;
  background-color: #b8d8e1;
  border-radius: 4px;
}

.sign-in-body-title p {
  display: flex;
  color: #2c689a;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin: 0px;
  height: 35px;
  align-items: center;
}

.sign-in-body-title img:hover {
  cursor: pointer;
}

/* Định dạng vùng thông báo khi đăng ký không thành công */
#announcement {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #ff4141;
  background: #fff9f9;
  flex: 1 0 0;
  display: none;
}

#announcement p {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* ************************ */

.sign-in-body-main-content {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}

/* Định dạng ô nhập liệu */
.sign-in-name-input,
.sign-in-pass-input {
  display: flex;
  align-items: center;
  color: #c0c0c0;
  align-self: stretch;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #c0c0c0;
  outline: auto;
  background: #fff;
  padding-right: 16px;
}

.sign-in-name-input:hover,
.sign-in-name-input:focus,
.sign-in-name-input:focus-within,
.sign-in-pass-input:hover,
.sign-in-pass-input:focus,
.sign-in-pass-input:focus-within {
  outline: 1px solid #285d8f;
}

#sign-in-name-input-text,
#sign-in-pass-input-text {
  display: flex;
  flex: 1 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 10px 15px 15px;
  align-self: stretch;
  border-radius: 6px;
  background: #fff;
  border: none;
  outline: none;
}

#sign-in-name-input-text::placeholder,
#sign-in-pass-input-text::placeholder {
  color: #c0c0c0;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#sign-in-name-input-text:not(:placeholder-shown),
#sign-in-pass-input-text:not(:placeholder-shown) {
  color: #000000;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#eye {
  cursor: pointer;
}

/* Định dạng icon tick xanh khi nhập liệu đúng định dạng*/
#check {
  width: 20px;
  height: 20px;
  display: none;
}

/* Định dạng dòng thông báo lỗi khi nhập liệu sai định dạng*/
.warning {
  display: flex;
  height: 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  visibility: hidden;
}

.warning p {
  display: flex;
  height: 16px;
  color: #ff4141;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0px;
  align-items: center;
}

/* Định dạng cho vùng dưới của form body */
#sign-in-body-bottom {
  display: flex;
  height: 102px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

/* Định dạng nút ĐĂNG NHẬP*/
input[type="submit"] {
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;

  border-radius: 6px;
  background-color: #285d8f;
  border: none;

  color: #fff;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #5680a7;
}

/* Định dạng vùng chuyển trang đến đăng ký */
.have-account {
  display: flex;
  padding: 10px 68px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.have-account p {
  color: #c0c0c0;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.have-account a {
  color: #285d8f;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.have-account a:hover {
  color: #82a8cc;
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 1200px */
@media screen and (max-width: 1200px) {
  .sign-up-body-content {
    display: flex;
    width: 100%;
    max-width: 1512px;
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    background: linear-gradient(
        0deg,
        rgba(245, 245, 245, 0.2) 0%,
        rgba(245, 245, 245, 0.2) 100%
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      linear-gradient(
        180deg,
        rgba(44, 104, 154, 0.6) 0%,
        rgba(95, 200, 222, 0.52) 100%
      );
  }
}
