/* Định dạng các thẻ chung cho cả giao diện */
:root {
  font-family: "Be Vietnam Pro";
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

p {
  margin: 0px;
}

/* Định dạng cho thanh cuộn ngang và dọc */
/* width */
table::-webkit-scrollbar,
#court-schedule-data-table::-webkit-scrollbar {
  width: 5px;
}

/* height */
#schedule-body-menu ul::-webkit-scrollbar,
#court-schedule-data-table::-webkit-scrollbar {
  height: 5px;
}

/* Track */
#schedule-body-menu ul::-webkit-scrollbar-track,
table::-webkit-scrollbar-track,
#court-schedule-data-table::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
#schedule-body-menu ul::-webkit-scrollbar-thumb,
table::-webkit-scrollbar-thumb,
#court-schedule-data-table::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 4px;
}

/* Handle on hover */
#schedule-body-menu ul::-webkit-scrollbar-thumb:hover,
table::-webkit-scrollbar-thumb:hover,
#court-schedule-data-table::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
  border-radius: 4px;
}

/*---------------------------------- HEADER -----------------------------------*/
@media screen and (max-width: 500px) {
  .sign-up-header {
    padding: 40px 20px;
  }
}

/*----------------------------------- BODY -----------------------------------*/
/* Định dạng tiêu đề */
.schedule-body {
  display: flex;
  padding: 30px 70px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2px;
  background: #f1f1f1;
}

.schedule-body-content {
  display: flex;
  max-width: 1300px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.08);
}

.schedule-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.schedule-top p {
  color: #000;
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.schedule-top img:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: #dee4e2;
}

.schedule-top a {
  height: 28px;
}

/* Định dạng ô nhập liệu tìm kiếm */
#search {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  background-color: #fafbfc;
}

#search img:hover {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

#search:hover,
#search:focus,
#search:focus-within {
  outline: 1px solid #97a09d;
}

#search-input {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  gap: 12px;
  flex: 1 0 0;
  color: #97a09d;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  outline: none;
}

#search-input::placeholder,
#search-input::placeholder {
  color: #97a09d;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#search-input:not(:placeholder-shown),
#search-input:not(:placeholder-shown) {
  color: #000000;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Định dạng thanh điều hướng */
#schedule-body-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 15px;
  align-self: stretch;
  flex-wrap: wrap;
}

#schedule-body-menu ul {
  display: flex;
  align-items: flex-start;
  max-width: 900px;
  overflow-x: scroll; /* Luôn hiển thị thanh cuộn ngang */
  margin: 0px;
  padding: 0px;
  align-self: stretch;
  gap: 36px;
  white-space: nowrap;
  padding-bottom: 8px;
}

/* Định dạng 3 nút thao tác */
#action {
  display: flex;
  width: 275px;
  height: 39px;
  align-items: flex-start;
  gap: 10px;
}

#action p {
  color: #fafbfc;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

#insert {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #f0bd0a;
}

#update {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #27ae60;
}

#delete {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #d00000;
}

/* Định dạng bảng dữ liệu */
#court-schedule-data-table {
  display: flex;
  align-self: stretch;
  height: 450px;
  overflow-x: scroll;
  overflow-y: scroll;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
}

table {
  position: relative;
  padding: 0px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin: 0px;
  width: 100%;
}

table td,
table th {
  display: flex;
  width: 100%;
  padding: 19px 10px;
  align-items: center;
  flex: 1 0 0;
  border-bottom: 1px solid #eaeaea;
}

table th {
  flex: 1 0 0;
  color: #141716;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

table td {
  display: flex;
  height: 24px;
  flex: 1 0 0;
  overflow: hidden;
  color: #141716;
  text-overflow: ellipsis;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 900px */
@media screen and (max-width: 900px) {
  #schedule-body-menu ul {
    max-width: 646px;
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 750px */
@media screen and (max-width: 750px) {
  #schedule-body-menu ul {
    max-width: 500px;
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 600px */
@media screen and (max-width: 600px) {
  #schedule-body-menu ul {
    max-width: 400px;
  }
}

/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 500px */
@media screen and (max-width: 500px) {
  .schedule-body {
    padding: 30px 20px;
  }

  .schedule-body-content {
    padding: 24px 14px;
  }

  #schedule-body-menu ul {
    max-width: 292px;
  }
}

/*----------------------------------- FOOTER -----------------------------------*/
/* Điều chỉnh định dạng khi kích thước màn hình nhỏ hơn 500px */
@media screen and (max-width: 500px) {
  .footer {
    display: flex;
    padding: 20px 20px 40px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #888;
    background: #fafbfc;
  }
}
