:root {
  font-family: "Be Vietnam Pro";
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a:link,
a:visited,
a:focus {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

p {
  margin: 0px;
}

body {
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.rectangle-group {
  align-self: stretch;
  height: 5px;
  position: relative;
}

rating-statistics-value,
.court-name {
  position: relative;
}

.court-name {
  margin: 0;
  align-self: stretch;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  color: #000;
  text-transform: capitalize;
}

.rating-statistics-value {
  width: 34px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
}

.rating-statistics-icon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.rating-statistics {
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}

.s-line {
  width: 0.5px;
  height: 15.5px;
  position: relative;
  border-right: 0.5px solid var(--placeholder-outline);
  box-sizing: border-box;
}

.court_review_total,
.court_review_label {
  position: relative;
  line-height: 20px;
  display: inline-block;
}

.court_review_total {
  font-weight: 500;
  min-width: 13px;
}

.court_review_label {
  font-size: var(--title-medium-size);
  color: var(--color-gray-300);
  min-width: 73px;
}

.court_review {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  color: #585a5a;
}

.court_order_total,
.court_order_label {
  position: relative;
  line-height: 20px;
  display: inline-block;
}

.court_order_total {
  font-weight: 500;
}

.court-img-main {
  height: 177px;
}

.image-slide {
  height: 177px;
}

.court-img {
  position: relative;
  border-radius: var(--br-7xs);
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
}

.image-list {
  grid-template-columns: repeat(3, 1fr);
  height: 236px;
}

.court_order_label {
  font-size: var(--title-medium-size);
  color: var(--color-gray-300);
  min-width: 57px;
}

.court_order,
.court-statistics,
.court-statistics-wrapped {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.court_order {
  gap: var(--gap-8xs);
  color: #58595a;
}

.court-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.court-statistics,
.court-statistics-wrapped {
  max-width: 100%;
}

.court-statistics {
  flex: 1;
  flex-wrap: wrap;
  gap: 12px 11.8px;
}

.court-statistics-wrapped {
  align-self: stretch;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue-300);
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.court-img-main {
  border-radius: var(--br-7xs);
  width: 100%;
  height: 334px;
  object-fit: cover;
}

.img-icon {
  height: 12px;
  width: 7.5px;
  position: relative;
  object-fit: contain;
}

.dichuyenphai,
.dichuyentrai {
  position: absolute;
  width: 26.8px;
  height: 45.4px;
  top: 50%;
}

.dichuyenphai {
  right: 0;
  background-color: #d5dfe7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.5px var(--padding-8xs) var(--padding-xs-5);
  box-sizing: border-box;
  opacity: 0.8;
  z-index: 1;
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
}

.selected-image {
  border: 3.5px solid #248dac;
}

.dichuyentrai {
  transform: scaleX(-1);
  left: 0;
  object-fit: contain;
  background-color: #d5dfe7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.5px var(--padding-8xs) var(--padding-xs-5);
  box-sizing: border-box;
  opacity: 0.8;
  z-index: 1;
}

.input-wrapper {
  position: relative;
  /* Để icon có thể đặt trong input */
  width: 237px;
  /* Đảm bảo input có độ rộng đủ */
}

.calendar-input {
  width: 100%;
  height: 42px;
  padding: 0px 15px 0px 45px;
  border-radius: 4px;
  border: 1px solid #4eacdf;
  background: #fafbfc;
  box-sizing: border-box;
  color: #2c6b8c;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.input-wrapper::before {
  content: "";
  /* Tạo một phần tử giả để chứa icon */
  position: absolute;
  top: 50%;
  left: 15px;
  /* Đặt vị trí của icon bên trái */
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url("../image/sport-court-details-img/calendar.svg");
  /* Đường dẫn đến icon */
  background-size: cover;
}

.image-slide {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 100%;
  height: 334px;
}

.image-slide {
  position: relative;
}

.court-img {
  position: relative;
  border-radius: var(--br-7xs);
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
}

.court_image_wrapped,
.image-list {
  align-items: flex-start;
  justify-content: flex-start;
}

.image-list {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: 9.949999999998909px;
  grid-template-columns: repeat(3, 1fr);
}

.court_image_wrapped {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 17px;
  min-width: 299px;
  max-width: 100%;
}

.span {
  text-decoration: underline;
}

.min-price {
  font-size: var(--font-size-11xl);
}

.max-price {
  font-size: var(--font-size-11xl);
}

.price-frame-wrapper {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: hsla(201, 51%, 51%, 0.21);
  padding: var(--padding-9xl) 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue-300);
  line-height: 36px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}

.span2 {
  color: var(--color-deepskyblue);
}

.span3 {
  color: var(--color-tomato);
}

.select-date-title {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 91px;
}

.date-display {
  flex: 1;
  position: relative;
  line-height: 20px;
}

.calendar-icon {
  align-self: stretch;
  width: 119px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}

.calendar-dropdown-icon {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}

.calendar-wrapper {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--background-primary);
  border: 1px solid var(--color-deepskyblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-mini);
  gap: 10px;
  font-size: var(--body-medium-size);
  color: var(--color-steelblue-200);
}

.select-date-wrapper {
  height: 72px;
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 95px;
}

.span4 {
  color: var(--color-deepskyblue);
}

.span5 {
  color: var(--color-tomato);
}

.select-time-title {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 125px;
}

select {
  width: 100%;
}

.time-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}

.time-display {
  flex: 1;
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}

.time-slot-wrapper {
  box-sizing: border-box;
  gap: var(--gap-3xs);
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--background-primary);
  border: 1px solid var(--color-deepskyblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-mini);
  font-size: var(--body-medium-size);
  color: var(--color-steelblue-200);
}

.time-dropdown-icon {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}

.time-dropdown {
  color: #2c6b8c;
  border: 0;
  background: #fafbfc;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.time-dropdown:focus {
  outline: none;
  box-shadow: none;
}

.select-time-wrapper {
  height: 72px;
  width: 215px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.time-date-select-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 var(--padding-115xl) 0 0;
  gap: 40px 30px;
}

.select-service-title {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 96px;
}

.service-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}

.service-name {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 62px;
  flex: 1;
}

.service-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-9xl) 0 0;
  gap: 10px;
  height: 42px;
  width: 237px;
  border-radius: var(--br-9xs);
  background-color: var(--background-primary);
  border: 1px solid var(--color-deepskyblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-mini);
  color: #2c6b8c;
}

.service-dropdown-icon {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}

.service-dropdown {
  color: #2c6b8c;
  border: 0;
  background: #fafbfc;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.service-dropdown:focus {
  outline: none;
  box-shadow: none;
}

.service-price-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}

.service-price-title {
  position: relative;
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-family: var(--font-be-vietnam-pro);
  color: var(--color-lightskyblue);
  text-align: left;
  display: inline-block;
  min-width: 86px;
}

.service-price {
  gap: var(--gap-3xs);
  cursor: pointer;
  border: 1px solid var(--color-deepskyblue);
  padding: var(--padding-2xs) var(--padding-sm);
  background-color: #dce9f7;
  height: 42px;
  width: fit-content;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  justify-content: space-between;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.display-price {
  position: relative;
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-family: var(--font-be-vietnam-pro);
  color: var(--color-lightskyblue);
  text-align: left;
  display: inline-block;
}

.service-quantity,
.service-quantity-title {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 64px;
  outline: none;
}

.service-quantity {
  min-width: 30px;
  background-color: var(--background-primary);
  color: #2c6b8c;
  border: 0;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.vector-icon3,
.vector-icon4 {
  width: 14px;
  height: 8px;
  position: relative;
  border-radius: var(--br-12xs-5);
}

.adjust quantity-group {
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}

.service-quantity-box {
  width: 145px;
  border-radius: var(--br-9xs);
  background-color: var(--background-primary);
  border: 1px solid var(--color-deepskyblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  gap: var(--gap-xl);
}

.select-service-wrapper,
.service {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.service {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-115xl) 0 0;
  box-sizing: border-box;
  gap: 20px 30px;
  min-height: 104px;
  font-size: var(--body-medium-size);
  color: var(--color-steelblue-200);
}

.select-service-wrapper {
  flex-direction: column;
  gap: var(--gap-3xs);
}

.add-service-icon {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.add-service-text {
  position: relative;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-be-vietnam-pro);
  color: var(--background-primary);
  text-align: left;
  display: inline-block;
  min-width: 67px;
}

.add-service-btn {
  cursor: pointer;
  border: 0;
  padding: 3.5px var(--padding-5xs);
  background-color: var(--sematic-color-2);
  height: 27px;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}

.selected-services-title {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 122px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.vuesaxboldtick-circle-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
  min-height: 20px;
}

.trng-ti-2 {
  width: calc(100% - 25px);
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-be-vietnam-pro);
  font-size: 8px;
  background-color: transparent;
  height: 20px;
  flex: 1;
  position: relative;
  line-height: 20px;
  color: var(--background-primary);
  text-align: left;
  display: inline-block;
  min-width: 31px;
  padding: 0;
}

.vuesaxboldclose-circle-icon {
  height: 15px;
  width: 15px;
  position: relative;
}

.dch-v {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: #5a8aac;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
}

.selected-services-container,
.selected-services,
.frame-parent5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.selected-services {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid #dedfe0;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-8xs);
  gap: 5px;
}

.selected-services-container,
.frame-parent5 {
  flex-direction: column;
}

.selected-services-container {
  height: 60px;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xs);
  color: #8e8b8b;
}

.frame-parent5 {
  gap: var(--gap-xl);
}

.interface-shopping-cart-011 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.thm-vo-gi {
  position: relative;
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-be-vietnam-pro);
  color: var(--color-steelblue-300);
  text-align: left;
}

.button1 {
  cursor: pointer;
  border: 0.5px solid var(--color-steelblue-300);
  padding: var(--padding-4xs) var(--padding-smi);
  background-color: #dfedfa;
  height: 42px;
  border-radius: var(--br-10xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}

.t-ngay {
  position: relative;
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-be-vietnam-pro);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 66px;
}

.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 65.5px;
  background-color: var(--color-steelblue-300);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}

.button-container {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 202px 0 0;
  gap: var(--gap-xl);
}

#bookingForm,
.button-container,
.thng-tin-sn,
.thng-tin-sn-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#hiddenForm {
  display: none;
}

#bookingForm {
  flex: 1;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;
}

.thng-tin-sn,
.thng-tin-sn-wrapper {
  flex-direction: row;
}

.thng-tin-sn {
  flex: 1;
  flex-wrap: wrap;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: 30px 18px;
  max-width: 100%;
}

.thng-tin-sn-wrapper {
  padding: 0 0 var(--padding-4xs);
  font-size: var(--font-size-mini);
  color: var(--text-primary1);
}

.chi-tit-sn-inner,
.frame-child2,
.thng-tin-sn-wrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}

.frame-child2 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-lightgray-100);
}

.chi-tit-sn-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.avg-rating-value,
.rating-name-court {
  position: relative;
}

.rating-detail-value {
  color: var(--Text-Primary, #141716);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.rating-name-court {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.avg-rating-value {
  line-height: 50px;
  display: inline-block;
  min-width: 93px;
}

.vuesaxboldstar-icon,
.vuesaxboldstar-icon1,
.vuesaxboldstar-icon2,
.vuesaxboldstar-icon3,
.vuesaxboldstar-icon4 {
  height: 16.1px;
  width: 16.1px;
  position: relative;
  min-height: 16px;
}

.total-rating-icon-wrapper,
.total-rating-wrapper {
  display: flex;
  justify-content: flex-start;
}

.total-rating-icon-wrapper {
  height: 16px;
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-10xs);
}

.total-rating-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}

.total-rating {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 20px;
  color: var(--color-darkslategray-200);
}

.rating-detail-value {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 12px;
}

.rating-detail-icon {
  width: 16.1px;
  height: 16px;
  position: relative;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.rating-detail-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.rating-detail-title {
  flex-direction: row;
  gap: var(--gap-11xs);
}

.bar-fg,
.bar-bg {
  height: 10px;
  border-radius: var(--br-xl);
}

.bar-fg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 357px;
  z-index: 1;
}

.bar-bg {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro-100);
}

.rating-detail-progress {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.rating-detail-count {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  color: var(--color-darkslategray-200);
  display: inline-block;
  min-width: 80px;
}

.rating-detail {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: 12px 9px;
  max-width: 100%;
}

.div8 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 12px;
}

.vuesaxboldstar-icon6 {
  width: 16.1px;
  height: 16px;
  position: relative;
}

.parent3,
.vuesaxboldstar-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.vuesaxboldstar-container {
  height: 18px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}

.parent3 {
  flex-direction: row;
  gap: var(--gap-11xs);
}

.frame-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
  display: none;
}

.frame-child6,
.group-div {
  height: 10px;
  border-radius: var(--br-xl);
}

.frame-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 267.7px;
  z-index: 1;
}

.group-div {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro-100);
}

.chi-tit-nh-gi-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 335px;
  max-width: 100%;
}

.lt-nh-gi2 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  color: var(--color-darkslategray-200);
  display: inline-block;
  min-width: 80px;
}

.chi-tit-nh-gi1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: 12px 9px;
  max-width: 100%;
}

.div9 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 12px;
}

.vuesaxboldstar-icon7 {
  width: 16.1px;
  height: 16px;
  position: relative;
}

.parent4,
.vuesaxboldstar-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.vuesaxboldstar-frame {
  height: 18px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}

.parent4 {
  flex-direction: row;
  gap: var(--gap-11xs);
}

.frame-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
  display: none;
}

.frame-child8,
.rectangle-parent1 {
  height: 10px;
  border-radius: var(--br-xl);
}

.frame-child8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 89.2px;
  z-index: 1;
}

.rectangle-parent1 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro-100);
}

.chi-tit-nh-gi-inner1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 335px;
  max-width: 100%;
}

.lt-nh-gi3 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  color: var(--color-darkslategray-200);
  display: inline-block;
  min-width: 80px;
}

.chi-tit-nh-gi2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: 12px 9px;
  max-width: 100%;
}

.div10 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 12px;
}

.vuesaxboldstar-icon8 {
  width: 16.1px;
  height: 16px;
  position: relative;
}

.parent5,
.vuesaxboldstar-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.vuesaxboldstar-wrapper1 {
  height: 18px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}

.parent5 {
  flex-direction: row;
  gap: var(--gap-11xs);
}

.frame-child9,
.rectangle-wrapper {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}

.frame-child9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.rectangle-wrapper {
  align-self: stretch;
  height: 10px;
  position: relative;
}

.chi-tit-nh-gi-inner2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 335px;
  max-width: 100%;
}

.lt-nh-gi4 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  color: var(--color-darkslategray-200);
  display: inline-block;
  min-width: 80px;
}

.chi-tit-nh-gi3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: 12px 9px;
  max-width: 100%;
}

.div11 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}

.vuesaxboldstar-icon9 {
  width: 16.1px;
  height: 16px;
  position: relative;
}

.parent6,
.vuesaxboldstar-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.vuesaxboldstar-wrapper2 {
  height: 18px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}

.parent6 {
  flex-direction: row;
  gap: var(--gap-11xs);
}

.frame-child10,
.rectangle-frame {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}

.frame-child10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.rectangle-frame {
  align-self: stretch;
  height: 10px;
  position: relative;
}

.chi-tit-nh-gi-inner3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 335px;
  max-width: 100%;
}

.lt-nh-gi5 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  color: var(--color-darkslategray-200);
  display: inline-block;
  min-width: 80px;
}

.chi-tit-nh-gi4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: 12px 9px;
  max-width: 100%;
}

.chi-tit-im-nh-gi {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--text-primary);
}

.assignment-operator,
.chi-tit-im-nh-gi,
.frame-parent9,
.rating {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.frame-parent9 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: #f4f4f4;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-11xl) 62px var(--padding-11xl) 60px;
  box-sizing: border-box;
  font-size: 64px;
  color: var(--color-steelblue-300);
  font-family: var(--body-medium);
}

.assignment-operator,
.rating {
  justify-content: flex-start;
  align-self: stretch;
  flex-direction: column;
  /* padding: 0 0 var(--padding-4xs); */
  box-sizing: border-box;
  display: flex;
  gap: 24px;
  align-items: center;
  /* max-width: 100%; */
}

.rating {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  flex-direction: column;
  gap: var(--gap-xl);
}

.review-account-avatar {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-17xl);
  object-fit: cover;
}

.review-account-name {
  line-height: 28px;
  font-weight: 600;
}

.review-created-date,
.review-content,
.review-account-name {
  align-self: stretch;
  position: relative;
  width: fit-content;
}

.review-created-date {
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-medium);
  color: var(--color-gray-100);
}

.review-content {
  font-size: var(--title-medium-size);
  line-height: 24px;
}

.info-content-review {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.vuesaxboldstar-icon10,
.vuesaxboldstar-icon11,
.vuesaxboldstar-icon12,
.vuesaxboldstar-icon13,
.vuesaxboldstar-icon14 {
  height: 16.1px;
  width: 16.1px;
  position: relative;
  min-height: 16px;
}

.review-star-rate {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-10xs);
}

.detail-review-wrapper,
.detail-review-container {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}

.detail-review-container {
  /* flex: 1; */
  border-radius: var(--br-5xs);
  background-color: var(--background-primary);
  border: 1px solid var(--background-third);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-4xl);
  gap: var(--gap-base);
  width: 100%;
}

.detail-review-wrapper {
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
  gap: var(--gap-xs);
}

.image-15-icon1 {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-17xl);
  object-fit: cover;
}

.ngc-pht {
  line-height: 28px;
  font-weight: 600;
}

.div13,
.ngc-pht,
.sn-tm-n {
  align-self: stretch;
  position: relative;
}

.div13 {
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-medium);
  color: var(--color-gray-100);
}

.sn-tm-n {
  font-size: var(--title-medium-size);
  line-height: 24px;
}

.ngc-pht-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.vuesaxboldstar-icon15,
.vuesaxboldstar-icon16,
.vuesaxboldstar-icon17,
.vuesaxboldstar-icon18,
.vuesaxboldstar-icon19 {
  height: 16.1px;
  width: 16.1px;
  position: relative;
  min-height: 16px;
}

.load-more-reviews-btn {
  position: relative;
  font-weight: 500;
  color: var(--Text-Secondary, #5e6a6e);
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  background-color: white;
}

.review-load-more-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  font-size: var(--body-medium-size);
  color: var(--text-secondary1);
}

.button-parent,
.chi-tit-sn-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.button-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  max-width: 100%;
}

.chi-tit-sn-child {
  flex-direction: row;
  padding: 0 0 var(--padding-4xs);
  font-size: var(--font-size-xl);
  color: var(--text-primary);
}

.chi-tit-sn-child,
.chi-tit-sn-inner1,
.frame-child11 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}

.frame-child11 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-lightgray-100);
}

.chi-tit-sn-inner1 {
  height: 9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
}

.bnh-lun-sn,
.c-4-lt {
  align-self: stretch;
  position: relative;
}

.chi-tit-sn-inner5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px 0;
}

.bnh-lun-sn {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.loadmore-respond-respond {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  color: #5d5a5a;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border: 0;
  background-color: white;
}

.loadmore-respond-comment {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  color: #5d5a5a;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border: 0;
  background-color: white;
}

.hidden {
  display: none;
}

.c-4-lt {
  font-size: 18px;
}

.data-aggregator {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}

.user-avatar {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-17xl);
  object-fit: cover;
}

.comment-input,
.respond-input {
  flex: 1;
  position: relative;
  /* line-height: 24px; */
  display: inline-block;
  max-width: calc(100% - 32px);
  color: var(--Text-Secondary, #888);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background-color: var(--background-secondary);
  line-height: 24px;
  border: 0;
  outline: none;
}

.vuesaxboldsend-2-icon {
  height: 24px;
  width: 24px;
  position: relative;
}

.comment-form-container,
.respond-form-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  /* max-width: 100%; */
  /* min-width: 100%; */
  margin: 16px 24px;
}

.comment-submit-btn,
.respond-submit-btn {
  height: 24px;
  border: 0;
  background-color: var(--background-secondary);
  display: flex;
  /* width: 24px; */
}

.vuesaxboldsend-2-icon {
  height: 100%;
  /* width: 100%; */
  position: relative;
}

.comment-form,
.respond-form .comment-section-wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}

.comment-form,
.respond-form {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--background-secondary);
  border: 1px solid var(--background-third);
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

textarea {
  overflow: auto;
  resize: none;
  max-height: 200px;
}

/* Tùy chỉnh kích thước và màu sắc của thanh cuộn */
::-webkit-scrollbar {
  width: 5px;
}

/* Tùy chỉnh màu nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Tùy chỉnh màu của thanh cuộn */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Thay đổi màu của thanh cuộn khi rê chuột vào */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Ẩn các nút lên/xuống */
::-webkit-scrollbar-button {
  display: none;
}

.comment-section-wrapper {
  align-self: stretch;
  display: flex;
  border-radius: var(--br-9xs);
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  /* justify-content: center; */
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--title-medium-size);
  color: var(--text-secondary);
  font-family: var(--body-medium);
}

.image-17-icon {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-17xl);
  object-fit: cover;
}

.thy-duyn {
  line-height: 28px;
  font-weight: 600;
}

.div15,
.sn-ny-cn,
.thy-duyn {
  align-self: stretch;
  position: relative;
}

.div15 {
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-medium);
  color: var(--color-gray-100);
}

.sn-ny-cn {
  font-size: var(--title-medium-size);
  line-height: 24px;
}

.button12,
.matrix-transform {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.matrix-transform {
  gap: var(--gap-5xs);
}

.button12 {
  border-radius: var(--br-5xs);
  background-color: var(--background-primary);
  border: 1px solid var(--background-third);
  padding: var(--padding-base) var(--padding-4xl);
}

.phn-hi1 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 61px;
}

.phn-hi,
.shape-stack,
.sound-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.shape-stack,
.sound-player {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}

.sound-player {
  padding: 0 var(--padding-4xl);
  font-size: var(--body-medium-size);
  color: var(--color-dimgray-100);
}

.shape-stack {
  gap: var(--gap-8xs);
}

.button11,
.color-palette {
  display: flex;
  max-width: 100%;
}

.color-palette {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 772px;
}

.button11 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}

.image-17-icon1 {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-17xl);
  object-fit: cover;
}

.nguyn-ngc-hong {
  line-height: 28px;
  font-weight: 600;
}

.div16,
.nguyn-ngc-hong,
.sn-ny-cn1 {
  align-self: stretch;
  position: relative;
}

.div16 {
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-medium);
  color: var(--color-gray-100);
}

.sn-ny-cn1 {
  font-size: var(--title-medium-size);
  line-height: 24px;
}

.button14,
.nguyn-ngc-hong-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nguyn-ngc-hong-parent {
  gap: var(--gap-5xs);
}

.button14 {
  border-radius: var(--br-5xs);
  background-color: var(--background-primary);
  border: 1px solid var(--background-third);
  padding: var(--padding-base) var(--padding-4xl);
}

.phn-hi3 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 61px;
}

.button-group,
.phn-hi-wrapper,
.phn-hi2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.button-group,
.phn-hi-wrapper {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}

.phn-hi-wrapper {
  padding: 0 var(--padding-4xl);
  font-size: var(--body-medium-size);
  color: var(--color-dimgray-100);
}

.button-group {
  gap: var(--gap-8xs);
}

.button-inner,
.button13 {
  display: flex;
  max-width: 100%;
}

.button-inner {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 772px;
}

.button13 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}

.image-15-icon3,
.respond-respond-avt {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-17xl);
  object-fit: cover;
}

.comment-author,
.respond-respond-author {
  line-height: 28px;
  font-weight: 600;
}

.comment-text,
.comment-date,
.comment-author,
.respond-respond-author,
.respond-respond-date,
.respond-respond-text {
  align-self: stretch;
  position: relative;
}

.comment-date,
.respond-respond-date {
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-medium);
  color: var(--color-gray-100);
}

.comment-text,
.respond-respond-text {
  font-size: var(--title-medium-size);
  line-height: 24px;
}

.comment-wrapper,
.respond-respond-wrapper,
.comment-details,
.respond-respond-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.comment-details,
.respond-respond-details {
  gap: var(--gap-5xs);
}

.comment-wrapper,
.respond-respond-wrapper {
  border-radius: var(--br-5xs);
  background-color: var(--background-primary);
  border: 1px solid var(--background-third);
  padding: var(--padding-base) var(--padding-4xl);
}

.reply-comment-button,
.reply-respond-button {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 61px;
  color: #5d5a5a;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  background-color: white;
  border: 0;
}

.reply-section,
.comment-menu-container,
.respond-respond-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.reply-section,
.comment-menu-container,
.respond-respond-container {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}

.reply-section {
  font-size: var(--body-medium-size);
  color: var(--color-dimgray-100);
}

.comment-menu-container,
.respond-respond-container {
  gap: var(--gap-8xs);
}

.image-15-icon4 {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-17xl);
  object-fit: cover;
}

.response-sender {
  line-height: 28px;
  font-weight: 600;
}

.response-text,
.response-sender,
.response-date {
  align-self: stretch;
  position: relative;
}

.response-date {
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-medium);
  color: var(--color-gray-100);
}

.response-text {
  font-size: var(--title-medium-size);
  line-height: 24px;
}

.response-heading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.response-heading {
  border-radius: var(--br-5xs);
  background-color: var(--background-primary);
  border: 1px solid var(--background-third);
  padding: var(--padding-base) var(--padding-4xl);
  gap: var(--gap-5xs);
}

.phn-hi7 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 61px;
}

.tabbed-dialog {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-4xl);
  font-size: var(--body-medium-size);
  color: var(--color-dimgray-100);
}

.response-details,
.tabbed-dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.response-details {
  flex: 1;
  align-items: center;
  min-width: 741px;
  max-width: 100%;
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-8xs);
}

.response-container {
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8px;
  padding-left: 5%;

  box-sizing: border-box;
  width: 100%;
}

.user-comment-section,
.respond-respond-section,
.response-container,
.comment-menu,
.respond-respond-menu {
  display: flex;
  gap: var(--gap-xs);
  max-width: 100%;
  flex-direction: column;
}

.comment-menu,
.respond-respond-menu {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.user-comment-section,
.respond-respond-section {
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 16px;
  box-sizing: border-box;
}

.user-comment-section.hidden-comment {
  display: none;
}

.xem-thm-bnh {
  position: relative;
  font-weight: 500;
  color: var(--Text-Secondary, #5e6a6e);
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  background-color: white;
  border: 0;
}

.response-details1 {
  width: 100%;
}

.response-details-wrapper {
  display: flex;
  width: 100%;
  gap: 12px;
}

.pagnitation1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  font-size: var(--body-medium-size);
  color: var(--text-secondary1);
}

.error-handler {
  align-self: stretch;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--text-primary);
}

.bnh-lun,
.court-detail-main,
.court-detail,
.error-handler {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bnh-lun {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xl);
  max-width: 100%;
}

.court-detail-main,
.court-detail {
  overflow: hidden;
  box-sizing: border-box;
}

.court-detail {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: var(--shadoo-card);
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  max-width: 1300px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-be-vietnam-pro);
}

.court-detail-main {
  align-self: stretch;
  background-color: var(--background-secondary);
  flex-direction: row;
  padding: var(--padding-11xl) var(--padding-51xl);
  max-width: 100%;
  justify-content: center;
}

.function-applier,
.image-processor {
  flex-direction: column;
}

.function-applier {
  align-self: stretch;
  gap: var(--gap-base);
  max-width: 100%;
}

.image-processor {
  width: 370px;
  gap: 25px;
  min-width: 320px;
  max-width: 370px;
}

.xem-chi-tit-sn-th-thao-kh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.xem-chi-tit-sn-th-thao-kh {
  overflow: hidden;
}

.xem-chi-tit-sn-th-thao-kh {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  letter-spacing: normal;
}

@media screen and (max-width: 500px) {
  .court-detail-main {
    padding: 20px;
    box-sizing: border-box;
  }

  .chi-tit-im-nh-gi {
    width: 100%;
  }

  .frame-parent9 {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: #f4f4f4;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    box-sizing: border-box;
    font-size: 64px;
    color: var(--color-steelblue-300);
    font-family: var(--body-medium);
  }

  .court-detail {
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: var(--shadoo-card);
    flex-direction: column;
    padding: 15px 10px;
    gap: 24px;
    max-width: 1300px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray-100);
    font-family: var(--font-be-vietnam-pro);
  }

  .court-name {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }

  rating-statistics-value,
  .court_review_total,
  .court_order_total {
    font-size: var(--title-medium-size);
    line-height: 16px;
  }

  .court-img-1,
  .court-img-2,
  .court-img-3 {
    width: 100%;
  }

  .price-frame-wrapper {
    font-size: var(--title-medium-size);
    line-height: 29px;
    padding: 15px;
  }

  .select-date-title,
  .select-time-title,
  .select-service-title {
    color: var(--Text---Primary, #1a1f23);
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .time-date-select-wrapper {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .service {
    gap: 20px 15px;
  }

  .service,
  .button-container {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .rating-name-court {
    font-size: var(--font-size-lgi);
  }

  .avg-rating-value {
    font-size: 38px;
    line-height: 30px;
  }

  .rating-detail-value,
  .total-rating,
  .review-account-name {
    font-size: var(--title-medium-size);
    line-height: 16px;
  }

  .review-account-name {
    line-height: 22px;
  }

  .review-star-rate {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .bnh-lun-sn {
    font-size: var(--font-size-lgi);
  }

  .response-sender,
  .comment-author {
    font-size: var(--title-medium-size);
    line-height: 22px;
  }

  .court-img {
    position: relative;
    border-radius: var(--br-7xs);
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .image-list {
    height: 112px;
  }
}

@media screen and (max-width: 900px) {
  .image-list {
    grid-template-columns: repeat(3, 1fr);
    min-height: 112px;
  }

  .court-img {
    position: relative;
    border-radius: var(--br-7xs);
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .image-slide {
    height: 334px;
  }

  .image-slide {
    position: relative;
  }

  .image-slide {
    top: 0;
    left: 0;
    border-radius: var(--br-7xs);
    width: 100%;
  }

  .court-img-main {
    height: 334px;
  }

  .min-price,
  .max-price {
    color: #285d8f;
    font-family: "Be Vietnam Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
}

/* ---------------------------------------------------------- */

:root {
  /* fonts */
  --body-medium: Roboto;
  --font-be-vietnam-pro: "Be Vietnam Pro";

  /* font sizes */
  --body-medium-size: 14px;
  --title-medium-size: 16px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --background-primary: #fafbfc;
  --text-secondary: #888;
  --color-gray-100: #737f7b;
  --text-primary1: #1a1f23;
  --color-gray-200: #171c1a;
  --text-primary: #141716;
  --color-gray-300: rgba(123, 120, 120, 0.63);
  --color-silver-100: #c4c4c4;
  --text-third: #c2c2c2;
  --placeholder-outline: #c0c0c0;
  --color-deepskyblue: #4eacdf;
  --color-steelblue-100: #3f6db2;
  --color-steelblue-200: #2c6b8d;
  --color-steelblue-300: #285d8f;
  --background-secondary: #f1f1f1;
  --background-third: #eaeaea;
  --text-secondary1: #5e6a6e;
  --color-dimgray-100: #5d5a5a;
  --color-darkslategray-100: #333;
  --color-darkslategray-200: rgba(51, 51, 51, 0.63);
  --color-lightgray-100: #d3cece;
  --color-gainsboro-100: #d9d9d9;
  --color-dodgerblue: #4285f4;
  --sematic-color-2: #f0bd0a;
  --color-lightskyblue: #69acd1;
  --color-tomato: #ff4141;
  --color-lightsteelblue: rgba(156, 184, 201, 0.2);

  /* Gaps */
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-smi: 13px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-8xs: 5px;
  --gap-10xs: 3px;
  --gap-11xs: 2px;
  --gap-lg: 18px;

  /* Paddings */
  --padding-51xl: 70px;
  --padding-7xl: 26px;
  --padding-16xl: 35px;
  --padding-xl: 20px;
  --padding-11xl: 30px;
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-4xl: 23px;
  --padding-4xs: 9px;
  --padding-1028xl: 1047px;
  --padding-242xl: 261px;
  --padding-504xl: 523px;
  --padding-6xs: 7px;
  --padding-8xs: 5px;
  --padding-11xs: 2px;
  --padding-2xs: 11px;
  --padding-smi: 13px;
  --padding-115xl: 134px;
  --padding-48xl: 67px;
  --padding-3xs: 10px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-9xl: 28px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-xs-5: 11.5px;
  --padding-10xs-5: 2.5px;
  --padding-12xs: 1px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-17xl: 36px;
  --br-7xs: 6px;
  --br-xl: 20px;
  --br-10xs: 3px;
  --br-12xs-5: 0.5px;
  --br-11xl: 30px;

  /* Effects */
  --shadoo-card: 0px 2px 8px 2px rgba(0, 0, 0, 0.08);
}
